<%= form_with model: [@question, @answer], local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <p>
  <%= f.label :solution %>
  <%= f.text_area :body %>
  </p>

  <%= f.submit %>
<% end %>